{% extends 'base.html' %}
{% load static %}

    {% block title %} Help - Kbotheard {% endblock %}

    {% block content %}

    <h2 style="text-align: center;">Help</h2>
    <div align="center">
    <img src="{% static 'images/iconfinder_help_info_question_faq_5402385.png' %}" alt="" srcset="" style="height:60px;">
    </div>

    <div class="line"></div>

    <div class="container">
    <div class="row" style="padding-left: 30px; padding-top: 100px;">
        <div class="col-sm">
            <img src="{% static 'images/iconfinder_processing_2799201.png' %}" alt="" srcset="" style="height:65px"> <h3> Módulos</h3>
            <br><br>
            <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Cómo navegar en el sitio web?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
            <hr class="flush"></div></div></div>
            <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Qué hace cada módulo?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
            <hr class="flush"></div></div></div>
        </div>
        <div class="col-sm">
            <img src="{% static 'images/iconfinder_ArtificialIntelligence26_2890587.png' %}" alt="" srcset="" style="height:65px"> <h3> Inteligencia Artificial</h3>
            <br><br>
            <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Qué es la Inteligencia Artificial?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
            <hr class="flush"></div></div></div>
            <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Qué es Machine Learning?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
            <hr class="flush"></div></div></div>
        </div>
        <div class="col-sm">
        <img src="{% static 'images/iconfinder_Rounded-15_2024660.png' %}" alt="" srcset="" style="height:65px"><h3> Soporte</h3>
        <br><br>
        <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Errores o problemas en el uso?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
        <hr class="flush"></div></div></div>

        <div class="layout"><div class="layout__item"><div class="tree-list-node"><a class="text-uber-black display--flex soft-tiny--ends" href="" style="align-items: center;"><div class="flex--one display--flex" style="align-items: center; justify-content: space-between;"><h5 class="flush">¿Tienes alguna duda?</h5><i class="icon icon_right-arrow push-tiny--left"></i></div></a>
        <hr class="flush"></div></div></div>
        </div>
    </div>

<br><br>


    </div>


    {% endblock %}